@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.section {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 101%;
    min-height: 101vh;
    background: url(../../assets/login.jpg);
    background-position: center;
    background-size: cover;
    margin-top: -10px;
    margin-left: -10px;
    
}


.container {
    position: relative;
    width: 400px;
    backdrop-filter: blur(15px) ;
    border: 2px solid rgba(255, 255, 255, .6);
    border-radius: 20px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25rem;
}

.init {
    font-size: 2.3rem;
    color: #fff;
    text-align: center;
    font-family: 'Poppins', sans-serif;  
}

.inputcontainer{
    position: relative;
    margin: 30px 0;
    width: 300px;
    border-bottom: 2px solid #fff;
}

.label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);;
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: .6s;
    font-family: 'Poppins', sans-serif;  
    font-weight: bold;
}

input:focus ~ label,
input:valid ~ label{
    top: -5px;
}

.inputcontainer input{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: -35px 0 5px;
    color: #fff;
}

.item {
    position: absolute;
    color: #fff;
    font-size: 1.6rem;
    top: 19px;
    right: 8px;
}

.forgot{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: center;
}

.forgot label input{
    margin: 3px;
}

.forgota {
    color: #fff;
    text-decoration: none;
    transition: .3s;
    font-size: .9em;
}

.forgota:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    border-radius: 40px;
    background: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    transition: .4s;
}

.btn:hover{
    opacity: .9;
}

.register {
    font-size: .8rem;
    color: #fff;
    text-align: center;
    
}

.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: .3s;
}

.register p a:hover{
    text-decoration: underline;
}