.boton {
  --curve-size: 0.5em;

  /* use position: relative; so that BG is only for .btn */

  
  padding: 1.5em 15rem;
  font-size: 2rem;
  background-color: aqua;
    text-transform: uppercase;
    
  clip-path: polygon(
    /* Top-left */ 0% var(--curve-size),
    var(--curve-size) 0,
    /* top-right */ 100% 0,
    100% calc(100% - var(--curve-size)),
    /* bottom-right 1 */ calc(100% - var(--curve-size)) 100%,
    /* bottom-right 2 */ 0 100%
  );
}
